zoom 1,
:after,
:before,
content "",
display table,
clear both,
margin($em=0.4em) {
  margin: 0.4em 0 0.4em;
}
/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border-top: 1px solid 0;
  border-right: 1px solid 0;
  border-bottom: 1px solid 0;
  border-left: 1px solid 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquotebefore,
blockquoteafter,
qbefore,
qafter {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset css */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic");
/* html defaults */
html {
  padding-top: 1.5rem;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 16px !important;
  box-sizing: border-box;
  background-color: #333;
}
body,
nav,
header,
main,
a,
footer {
  max-width: 900px !important;
  margin: 0 auto;
}
body {
  margin-top: 12rem;
  padding-top: 2rem;
  margin-bottom: 6rem;
}
p,
li {
  line-height: 1.5em;
}
/* Declare block level elements */
body,
main,
nav,
footer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
html {
  text-align: center;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #000;
}
/* Branded header style */
a.header {
  z-index: 1000;
  background-color: #fff;
  position: fixed;
  top: 0;
  padding-top: 1.5rem;
  width: 100%;
}
header {
  background-color: #fff;
  position: relative;
  height: 8.75rem;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  font-family: Helvetica;
  padding-top: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1.5rem;
  border-top: 0.125rem solid #000;
  border-right: 0.125rem solid #000;
  border-bottom: 0.125rem solid #000;
  border-left: 0.125rem solid #000;
  font-size: 5rem;
/* Name */
/* do */
}
header span:first-of-type {
  display: inline-block;
  font-weight: 500;
  color: #333;
  border-bottom: 0.111111111111111rem dotted #f00;
  paddng: 0;
}
header span:last-of-type {
  font-weight: 900;
}
header p {
  font-size: 1rem;
  margin: 0.1rem;
  padding: 1em;
}
header small {
  font-size: 1.75rem;
  position: absolute;
  top: 1.5rem;
}
/* Navigation Style */
nav {
  background-color: #fff;
  position: fixed;
  top: 11rem;
  z-index: 1001;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
nav ul {
  box-shadow: 0px 5px 10px 2px rgba(51,51,51,0.26);
  background-color: #eee;
  box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style-type: none;
}
nav ul li {
  min-width: 7.5rem;
  box-sizing: border-box;
  display: inline-block;
}
nav ul li a {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.25rem;
  padding: 0.75rem;
  display: block;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
nav ul li a:hover {
  background-color: #eee;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
}
.popUp {
  display: none;
  z-index: 900;
  position: absolute;
  right: 11rem;
  margin-right: 1.9rem;
  right: 1.5rem;
  width: 6rem;
}
.popUp li {
  width: 6rem;
}
.popUp li a {
  width: 6rem;
}
/* Main application area */
main {
  min-height: 90vh;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  position: relative;
  max-width: 95%;
  text-align: left;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
h1,
h2,
h3 {
  display: block;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
h1 {
  border-bottom: 0.166666666666667rem dotted #f00;
  width: 95%;
  font-size: 1.75rem;
  font-weight: 100;
}
h2 {
  width: 85%;
  font-size: 1.75rem;
  padding-bottom: 0rem;
  margin-bottom: 0.5rem;
}
h3 {
  width: 80%;
  font-size: 1.5rem;
}
footer {
  box-sizing: border-box;
  position: fixed;
  height: 3rem;
  padding-top: 1em;
  padding-bottom: 1em;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
}
footer a,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: #fff;
}
footer p {
  text-align: center;
}
/* Custom Header Styles for awesome partner brands */
.howto {
  background-color: #000;
  color: #fff;
}
.howto span:first-of-type {
  color: #e6e6e6;
  border-bottom: 4px dotted #f00;
}
.whereto {
  border-top: 5px solid #3d7a00;
  border-right: 5px solid #3d7a00;
  border-bottom: 5px solid #3d7a00;
  border-left: 5px solid #3d7a00;
  background-color: #cf9;
  color: #5cb800;
}
.whereto span:first-of-type {
  border-bottom: 4px dotted #3d7a00 !important;
  color: #3d7a00;
  border-bottom: 4px dotted #f00;
}
.whereto p {
  font-weight: 400;
}
.whento {
  border-top: 5px solid #0a85ff;
  border-right: 5px solid #0a85ff;
  border-bottom: 5px solid #0a85ff;
  border-left: 5px solid #0a85ff;
  background-color: #9cf;
  color: #f0f7ff;
}
.whento span:first-of-type {
  border-bottom: 4px dotted #0070e0 !important;
  color: #0a85ff;
  border-bottom: 4px dotted #f00;
}
.whento p {
  color: #0070e0;
  font-weight: 300;
}
.whoto {
  background-color: #ffc0cb;
  border-top: 5px solid #f6002b;
  border-right: 5px solid #f6002b;
  border-bottom: 5px solid #f6002b;
  border-left: 5px solid #f6002b;
  color: #ff3a5c;
}
.whoto span:first-of-type {
  border-bottom: 6px dotted #fff !important;
  color: #ff244a;
  border-bottom: 4px dotted #f00;
}
.whoto p {
  color: #ff0d37;
}
.message {
  max-width: 850px;
  display: inline-block;
  position: absolute;
  top: -12rem;
  left: 3rem;
  right: 3rem;
  z-index: 2000;
  display: block;
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  height: 4.5rem;
  border-radius: 0.5rem;
}
.message p {
  font-size: 1.25rem;
  text-align: center;
  padding: 1.5rem;
}
.message button {
  border-radius: 2rem;
  position: absolute;
  top: 0.75rem;
  width: 2em;
  right: 0.75rem;
  color: #333;
  background-color: #ddd;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form p {
  padding-top: 1rem;
}
label {
  font-weight: normal;
}
button,
input,
select {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  font-size: 1.25rem;
}
input,
select {
  padding: 0.5rem 0.5rem;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  margin-bottom: 0.5rem;
}
input:focus,
select:focus {
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
}
select {
  height: 2.5rem;
}
button {
  padding: 0.5rem 0.5rem;
  border-top: 1px solid darkBlue;
  border-right: 1px solid darkBlue;
  border-bottom: 1px solid darkBlue;
  border-left: 1px solid darkBlue;
  background-color: MidnightBlue;
  color: #eee;
  font-weight: 100;
}
table {
  width: 100%;
  margin-bottom: 0.5rem;
}
table tr td {
  font-size: 1.25rem;
  padding: 0;
  height: 3em;
  box-sizing: border-box;
  vertical-align: middle;
}
table tr td:first-child {
  text-align: right;
  min-width: 30%;
  padding-right: 1em;
  font-weight: 400;
}
table tr td:last-child {
  width: 70%;
  padding-right: 1.5rem;
}
.content {
  position: relative;
  border-top: 0 solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 0 solid #ccc;
}
.content:last-child {
  border-top: 0 solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 0 solid #ccc;
  border-left: 0 solid #ccc;
}
.settings {
  outline: none;
  position: absolute;
  right: 1.5rem;
  top: 0.75rem;
  border-radius: 2rem;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ccc;
}
.settings:hover {
  background-color: #5c9900;
}
.success {
  background-color: #5c9900;
}
@media (max-width: 737px) {
  body {
    padding-top: 1rem;
    margin-top: 9.25rem;
  }
  header {
    font-size: 2.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    height: 6.125rem;
  }
  header small {
    font-size: 0.875rem;
    top: 0.75rem;
  }
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
  nav {
    top: 7.5rem;
  }
  nav ul li {
    position: relative;
    min-width: 1rem;
    box-sizing: border-box;
    display: inline-block;
  }
  nav ul li a {
    display: block;
  }
  td {
    font-size: 1rem !important;
    line-height: 1.5rem;
    vertical-align: top;
  }
  input,
  select {
    font-size: 1rem;
  }
  .message {
    top: -9.5rem;
    left: 3rem;
    right: 3rem;
    z-index: 2000;
    display: block;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    height: 4.5rem;
    border-radius: 0.5rem;
  }
  .message p {
    font-size: 1.25rem;
    text-align: center;
    padding: 1.5rem;
  }
  .popUp {
    margin-right: 0;
    right: 0;
    padding: 0;
    margin: 0;
  }
  .popUp li {
    padding: 0;
    margin: 0;
  }
  .popUp li a {
    margin: 0;
  }
}
