@import 'stylus/mixins'

/* css reset */
@import 'stylus/reset'
/* reset css */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic');
$gutter = 1.5rem

/* html defaults */
html
	padding-top $gutter
	font-family 'Roboto'
	font-weight 100
	font-size 16px !important
	box-sizing border-box
	background-color #333
body, nav, header, main, a, footer
	max-width 900px !important
	margin 0 auto

body
	margin-top 12rem
	padding-top 2rem
	margin-bottom 6rem
	// line-height 1.25em
	
		
p, li
	line-height 1.5em
/* Declare block level elements */
body, main, nav, footer
	width 100%
	display flex
	flex-direction column
	
html 	
	text-align center
	// margin-top 5rem
a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: black;
}
/* Branded header style */
// Set scale to resize header (default 1rem)
$scale = 0.5rem
a.header 
	z-index 1000
	background-color #fff
	position fixed
	top 0
	padding-top $gutter
	width 100%
header
	background-color white
	position relative 
	height 17.5 * $scale 	
	order 1
	font-family Helvetica
	padding-top 1*$scale
	margin-left $gutter
	margin-right $gutter
	margin-bottom $gutter
	border-radius $gutter
	border(black, (1/4)*$scale )
	font-size 10*$scale
	/* Name */
	span:first-of-type
		display inline-block
		font-weight 500
		color lighten(black, 20%)
		border-bottom: (1/4.5)*$scale dotted red
		paddng 0
	/* do */
	span:last-of-type
		font-weight 900
	p
		font-size 2*$scale
		margin (1/5)*$scale
		padding 1em
	small 	
		font-size 3.5*$scale
		position absolute
		top $gutter	
/* Navigation Style */
nav
	background-color white
	// padding-bottom 0.5rem
	position fixed
	top 11rem
	z-index 1001
	order 2
	margin-top 0.5*$gutter
	margin-bottom 0.5*$gutter
	ul
		box-shadow: 0px 5px 10px 2px rgba(51,51,51,0.26);
		background-color #eee
		box-sizing border-box
		width 100%
		// border(red, 10px)
		display flex
		flex-direction row
		justify-content space-around
		list-style-type none
		li
			min-width: 7.5rem
			box-sizing border-box
			display inline-block
			a
				width 100%
				box-sizing border-box
				border-radius 0.25rem
				padding 0.5*$gutter
				display block
				border(#eee)
				&:hover
					background-color #eee
					border(#aaa)
.popUp
	display: none;
	z-index 900
	position absolute
	right 11rem
	margin-right 1.9rem
	right $gutter
	width 6rem
	li
		width 6rem
		a
			width 6rem
	// box-shadow: 0px 0px 0px #fff;
		
	
/* Main application area */
main
	min-height 90vh
	order 3
	position relative
	max-width 95%
	text-align left
	margin 0 auto
	box-sizing border-box
	padding-left $gutter
	padding-right $gutter
	
h1, h2, h3
	display block
	margin-top 1rem
	padding-bottom 0.5rem
	margin-bottom 1rem
	// border-bottom 1px solid #333
h1
	border-bottom: (1/3)*$scale dotted red
	width 95%
	// border(#aaa	, 0,0,1px,0)
	// width 100%
	font-size 1.75rem
	// line-height 1.75 * 1.75rem
	font-weight 100
h2
	width 85%
	font-size: 1.75rem
	padding-bottom 0rem
	margin-bottom 0.5rem
	// line-height 1.75 * 1.5rem
h3
	width 80%
	font-size: 1.5rem
	// line-height 1.75 * 1.25rem
footer
	box-sizing border-box
	position fixed 
	height 3rem
	padding-top 1em
	padding-bottom 1em
	bottom 0
	width 100%
	margin 0 auto
	background-color #333
	color white
	a, a:link, a:visited, a:hover, a:active
		color white
	p
		text-align center
		
/* Custom Header Styles for awesome partner brands */
.howto
	background-color black
	color white
	span:first-of-type
		color darken(white, 10%)
		border-bottom: 4px dotted red
.whereto
	border(darken(#cf9, 70%), 5px)
	background-color #cf9
	color darken(#cf9, 55%)
	span:first-of-type
		border-bottom: 4px dotted darken(#cf9, 70%) !important
		color darken(#cf9, 70%)
		border-bottom: 4px dotted red
	p
		font-weight 400		
.whento 
	border(darken(#9cf, 35%), 5px)
	background-color #9cf
	color lighten(#9cf, 85%)
	span:first-of-type
		border-bottom: 4px dotted darken(#9cf, 45%) !important
		color darken(#9cf, 35%)
		border-bottom: 4px dotted red
	p
		color darken(#9cf, 45%)
		font-weight 300
.whoto
	background-color pink
	border(darken(pink, 45%), 5px)
	color darken(pink, 30%)
	span:first-of-type
		border-bottom: 6px dotted white !important
		color darken(pink, 35%)
		border-bottom: 4px dotted red
	p
		color darken(pink, 40%)

.message
	max-width 850px 
	display inline-block
	position absolute
	top -12rem
	left 2 * $gutter
	right 2 * $gutter
	z-index 2000
	display block
	background-color rgba(black, 0.75)
	color white
	height 4.5rem
	border-radius 0.5rem
	p
		font-size 1.25rem
		text-align center
		padding $gutter
	button
		border-radius 2rem
		position absolute
		top 0.5 * $gutter
		width 2em
		right 0.5 * $gutter
		color #333
		background-color #ddd
		border(#eee)

form
	display flex
	flex-direction column
	justify-content space-between
	// border(red)
	p
		padding-top 1rem
label
	font-weight normal
button, input, select
	box-sizing border-box
	display block
	width 100%
	border-radius 0.25rem
	font-size 1.25rem
input, select
	padding 0.5rem 0.5rem
	border(#aaa)
	margin-bottom 0.5rem
	&:focus
		border(#333)
select
	height 2.5rem
button
	padding 0.5rem 0.5rem
	border(darkBlue)
	background-color MidnightBlue 
	color #eee
	font-weight 100
table 
	// border(#aaa, 1px, 0, 1px, 0)
	width 100%
	margin-bottom 0.5rem
	tr
		td
			font-size: 1.25rem
			padding: 0
			height: 3em
			box-sizing border-box
			vertical-align middle
			&:first-child
				text-align right
				min-width 30%
				padding-right 1em
				font-weight 400
			&:last-child
				width: 70%
				padding-right: $gutter
.content 
	position relative
	border(#ccc, 0, 0, 1px, 0)
	&:last-child
		border(#ccc, 0, 0, 0, 0)
	
.settings
	outline: none; 
	position absolute
	right $gutter
	top 0.5 * $gutter
	border-radius 2rem
	border(#eee)
	width  2.5rem
	height 2.5rem
	background-color #ccc
	&:hover
		background-color darken(#99FF00, 40%)
.success
	background-color darken(#99FF00, 40%)
@media (max-width 737px) 
	body
		padding-top 2 * $scale 
		margin-top 18.5 * $scale
	header
		font-size 5*$scale
		margin-left 0.5 * $gutter
		margin-right 0.5 * $gutter
		margin-bottom 0.5 * $gutter
		height 12.25 * $scale
		small
			font-size 1.75 * $scale
			top 0.5 * $gutter 
	main
		padding-left 10px
		padding-right 10px
	nav
		top 7.5rem
		ul
			li
				position relative
				min-width: 1rem
				box-sizing border-box
				display inline-block
				a
					display block
	td
		font-size: 1rem !important
		line-height 1.5rem
		vertical-align top
	input, select
		font-size 1rem
	.message 
		top -9.5rem
		left 2 * $gutter
		right 2 * $gutter
		z-index 2000
		display block
		background-color rgba(black, 0.75)
		color white
		height 4.5rem
		border-radius 0.5rem
		p
			font-size 1.25rem
			text-align center
			padding $gutter
	.popUp
		margin-right 0
		right 0
		padding 0
		margin 0
		li
			padding 0
			margin 0
			a
				margin 0