
/*
 * Outputs a border with $color and $tpx thickness.
 * 		$tpx	border-top-width 	
 * 		$rpx	border-right-width 	
 * 		$bpx	border-bottom-width 	
 * 		$lpx	border-left-width 	
 */
border($color, $tpx=1px, $rpx=$tpx, $bpx=$tpx, $lpx=$tpx)
	border-top $tpx solid $color
	border-right $rpx solid $color
	border-bottom $bpx solid $color
	border-left $lpx solid $color

/*
 * Adds a clearfix to a declaration
 * from http://nicolasgallagher.com/micro-clearfix-hack/
 */
clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both


margin($em=0.4em)
	margin .4em 0 .4em
